{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}

<head>
    <link rel="stylesheet" href="static/CSS Files/about_us.css">
</head>

<body>

    <main>
        <div class="about_sec">
            <div class="div">
                <a href='/contact'>
                    <div class="boxes">Contact Us</div>
                </a>
                <a href='/about'>
                    <div class="boxes">About Us</div>
                </a>
                <a href='/log_in'>
                    <div class="boxes">Log In</div>
                </a>
                <a href='/liked_food'>
                    <div class="boxes">Liked Food</div>
                </a>
            </div>
        </div>
    </main>

<body>
</html>

{% endblock body %}