{% extends "index.html" %}

{% block title %}Biryani{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Claypot Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-1"></i>
                            </div>

                            <p class="food_para">Fragrant basmati rice is slow-cooked with spiced chicken, caramelized onions, yogurt, herbs, and whole spices in a clay pot, sealing rich aroma, smoky flavor, and traditional dum-style perfection.
                            </p>

                            <div class="price" data-price="149">₹149</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Dum Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-2"></i>
                            </div>

                            <p class="food_para">Long-grain basmati rice is layered with marinated chicken, fried onions, yogurt, saffron milk, mint, and spices, then slow-cooked on dum to create rich aroma, tender meat, and royal flavor.
                            </p>

                            <div class="price" data-price="103">₹103</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Hyderabadi Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-3"></i>
                                
                            </div>

                            <p class="food_para">Aromatic basmati rice is layered with marinated chicken, fried onions, yogurt, mint, saffron, and whole spices, then dum-cooked slowly to lock deep flavor and royal aroma.
                            </p>

                            <div class="price" data-price="204">₹204</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Royal Chicken Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-4"></i>
                                
                            </div>

                            <p class="food_para">Fragrant basmati rice is layered with spiced chicken, caramelized onions, yogurt, saffron, mint, and whole spices, then slow dum-cooked in a handi for deep, rich, festive flavor.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Classic Chicken Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-5"></i>
                                
                            </div>

                            <p class="food_para">A Fluffy basmati rice is cooked with marinated chicken, fried onions, yogurt, mint, whole spices, and saffron, then gently dum-cooked to blend rich aroma, tender meat, and comforting flavor.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mutton Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-6"></i>
                                
                            </div>

                            <p class="food_para">Aromatic basmati rice is layered with slow-cooked chicken, browned onions, yogurt, green chilies, mint, and whole spices, then sealed and dum-cooked in a handi for deep, homestyle flavor.
                            </h4>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Claypot Dum Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-7"></i>
                                
                            </div>

                            <p class="food_para">Fragrant basmati rice is layered with spiced meat, fried onions, yogurt, mint, saffron, and whole spices, then slow dum-cooked in a clay pot for smoky aroma and rich traditional taste.
                            </p>

                            <div class="price" data-price="213">₹213</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Handi Chicken Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-8"></i>
                                
                            </div>

                            <p class="food_para">Aromatic basmati rice is layered with marinated chicken, fried onions, yogurt, mint, saffron, and whole spices, then dum-cooked slowly in a copper handi for rich aroma and royal taste.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Dum Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-9"></i>
                                
                            </div>

                            <p class="food_para">Fragrant basmati rice layered with marinated chicken, caramelized onions, mint, and whole spices, slow-cooked on dum until fluffy, aromatic, and richly flavored, served hot with raita.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Bamboo Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-10"></i>
                                
                            </div>

                            <p class="food_para">Aromatic basmati rice cooked with spiced chicken gravy, layered and dum-cooked, served with crispy chicken fry, boiled eggs, onion raita, and rich curry for a hearty, flavorful feast.
                            </p>

                            <div class="price" data-price="214">₹214</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Dada Boudi Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-11"></i>
                                
                            </div>

                            <p class="food_para">Fragrant basmati rice layered with spiced mixed vegetables, potatoes, mint, and whole spices, slow-cooked on dum, served on banana leaf for a traditional, aromatic, comforting meal.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Hyderabadi Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-12"></i>
                                
                            </div>

                            <p class="food_para">Long-grain basmati rice layered with spiced marinated chicken, fried onions, mint, saffron, and whole spices, dum-cooked slowly to create rich aroma, vibrant flavors, and royal taste.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mutton Dum Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-13"></i>
                                
                            </div>

                            <p class="food_para">Fragrant basmati rice layered with slow-cooked spiced mutton, fried onions, mint, yogurt, and whole spices, sealed and dum-cooked gently for deep flavor, aroma, and rich traditional taste.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Egg Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-14"></i>
                                
                            </div>

                            <p class="food_para">Fluffy basmati rice cooked with aromatic spices, layered with boiled eggs, caramelized onions, mint, and mild masala, slow-cooked to blend flavors, served warm with raita.
                            </p>

                            <div class="price" data-price="149">₹149</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Special Chicken Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-15"></i>
                                
                            </div>

                            <p class="food_para">Aromatic basmati rice layered with juicy spiced chicken, fried onions, mint, saffron, and whole spices, dum-cooked slowly to lock rich flavors, aroma, and irresistible traditional taste.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Biryani_img/Biryani16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Leg Biryani</h4>
                                <i class="fa-regular fa-heart heart" data-id="biryani-16"></i>
                            </div>

                            <p class="food_para">Long-grain basmati rice layered with tender chicken legs, aromatic spices, mint, fried onions, and yogurt, slow dum-cooked until fluffy, flavorful, and served hot with cooling raita.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
        
{% endblock pizza %}