{% extends "index.html" %}

{% block title %}Cake{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Choco Truffle</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-1"></i>
                                
                            </div>

                            <p class="food_para">Rich chocolate sponge layered with silky ganache, made using cocoa powder, flour, eggs, butter, sugar, and cream, then topped with chocolate shavings for a deep, indulgent flavor.
                            </p>

                            <div class="price" data-price="439">₹439</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Blue Bliss</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-2"></i>
                                
                            </div>

                            <p class="food_para">Soft vanilla sponge layered with whipped cream frosting, finished with blue drip glaze, sugar sprinkles, butter, eggs, flour, milk, and vanilla, creating a cheerful, elegant birthday delight.
                            </p>

                            <div class="price" data-price="699">₹699</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Rustic Cream Cake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-3"></i>
                                
                            </div>

                            <p class="food_para">Light sponge layers baked with flour, eggs, sugar, and butter, gently filled with fresh cream, lightly frosted, and topped with fruits and nuts for a soft, homemade elegance.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Berry Choco Delight</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-4"></i>
                                
                            </div>

                            <p class="food_para">Moist chocolate sponge baked with cocoa, flour, eggs, sugar, and butter, layered with smooth chocolate glaze, topped with fresh blueberries and mint for a rich, fruity finish.
                            </p>

                            <div class="price" data-price="429">₹429</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Red Velvet</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-5"></i>
                                
                            </div>

                            <p class="food_para">Soft red velvet sponge made with cocoa, flour, eggs, butter, and buttermilk, layered with creamy frosting and finished with fresh raspberries for a smooth, elegant, mildly chocolatey taste.
                            </p>

                            <div class="price" data-price="319">₹319</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Choco Fudge</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-6"></i>
                                
                            </div>

                            <p class="food_para">Dense chocolate cake baked with cocoa, flour, eggs, sugar, and butter, generously drenched in warm chocolate fudge sauce, creating a moist, rich, and deeply indulgent dessert experience.
                            </h4>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Floral Dream</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-7"></i>
                                
                            </div>

                            <p class="food_para">Delicate vanilla sponge layered with smooth buttercream, made using flour, eggs, sugar, butter, and milk, beautifully decorated with handcrafted floral frosting for a graceful, celebration-ready finish.
                            </p>

                            <div class="price" data-price="339">₹339</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Cherry Choco</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-8"></i>
                                
                            </div>

                            <p class="food_para">Rich chocolate sponge prepared with cocoa, flour, eggs, butter, and sugar, layered with glossy chocolate ganache and topped with fresh cherries for a bold, juicy, indulgent dessert.
                            </p>

                            <div class="price" data-price="499">₹499</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Berry Bliss Cake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-9"></i>
                                
                            </div>

                            <p class="food_para">Soft chocolate sponge layered with fresh cream, strawberries, blueberries, and raspberries, gently stacked, chilled, and topped with whipped cream, berries, and light sweetness for a festive, fresh dessert.
                            </p>

                            <div class="price" data-price="599">₹599</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Roseberry Delight</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-10"></i>
                                
                            </div>

                            <p class="food_para">Soft vanilla sponge layered with fresh cream and strawberry syrup, baked gently, stacked smoothly, and decorated with red roses, whipped cream, sugar pearls, and sweet strawberry flavor for a romantic dessert.
                            </p>

                            <div class="price" data-price="449">₹449</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Choco Swirl Cake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-11"></i>
                                
                            </div>

                            <p class="food_para">Moist chocolate sponge baked with cocoa, flour, eggs, and butter, topped with silky chocolate cream frosting, gently swirled, and finished with nuts and mint for rich flavor.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Berry Frost Cupcake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-12"></i>
                                
                            </div>

                            <p class="food_para">Soft chocolate cupcake baked with flour, cocoa, eggs, and butter, topped with colorful whipped cream frosting, fresh berries, and mint, creating a sweet, light, and beautiful treat.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Berry Cup Trio</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-13"></i>
                                
                            </div>

                            <p class="food_para">Soft vanilla and chocolate cupcakes baked with flour, eggs, butter, and cocoa, topped with creamy frosting, chocolate drizzle, and fresh berries, creating a colorful, sweet, and joyful dessert.
                            </p>

                            <div class="price" data-price="399">₹399</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mocha Cupcake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-14"></i>
                                
                            </div>

                            <p class="food_para">Soft chocolate cupcake baked with flour, cocoa, eggs, butter, and coffee essence, topped with creamy mocha frosting and chocolate chips, delivering rich aroma and smooth café-style sweetness.
                            </p>

                            <div class="price" data-price="279">₹279</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Pink Velvet Cupcake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-15"></i>
                                
                            </div>

                            <p class="food_para">Soft vanilla sponge baked with flour, butter, eggs, and sugar, topped with smooth pink buttercream frosting and chocolate sprinkles, gently swirled for a sweet, elegant, party-ready treat.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cake_img/Cake16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Sprinkle Bliss Cupcakes</h4>
                                <i class="fa-regular fa-heart heart" data-id="cake-16"></i>
                                
                            </div>

                            <p class="food_para">Fluffy vanilla cupcakes baked with flour, butter, eggs, and sugar, topped with creamy pink frosting and colorful sprinkles, gently swirled to create a cheerful, sweet, and festive dessert.
                            </p>

                            <div class="price" data-price="379">₹379</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    
{% endblock pizza %}