{% extends "index.html" %}

{% block title %}Cold Drink{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Citrus Iced</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-1"></i>
                                
                            </div>

                            <p class="food_para">Freshly brewed black tea is chilled, then mixed with lemon juice, honey or sugar, ice cubes, and citrus slices, creating a refreshing, lightly sweet, cooling drink.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Sparkling Iced</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-2"></i>
                                
                            </div>

                            <p class="food_para">Brewed is cooled, then blended with soda water, ice cubes, lemon slices, and light sugar, creating a fizzy, refreshing cold drink perfect for summer sipping.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mint Lime Fizz</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-3"></i>
                                
                            </div>

                            <p class="food_para">Fresh lime juice is mixed with mint leaves, sugar syrup, ice cubes, and chilled soda water, gently stirred to create a crisp, refreshing, sparkling green cooler.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Orange Iced Cooler</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-4"></i>
                                
                            </div>

                            <p class="food_para">Fresh orange slices are mixed with chilled tea or juice, honey, ice cubes, and water, gently stirred to create a bright, refreshing, naturally sweet summer drink.
                            </p>

                            <div class="price" data-price="419">₹419</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Blue Lagoon</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-5"></i>
                                
                            </div>

                            <p class="food_para">Blue curaçao syrup is mixed with lemon juice, chilled soda or lemonade, and ice cubes, then gently stirred to create a vibrant, cool, refreshing mocktail drink.
                            </p>

                            <div class="price" data-price="219">₹219</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Citrus Berry Cooler</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-6"></i>
                                
                            </div>

                            <p class="food_para">Fresh lemon juice is mixed with orange slices, berries, mint leaves, sugar syrup, ice cubes, and chilled soda water, creating a refreshing, fruity, lightly sparkling summer drink.
                            </p>

                            <div class="price" data-price="429">₹429</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mint Citrus Mist</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-7"></i>
                                
                            </div>

                            <p class="food_para">Fresh mint leaves are muddled with citrus juice, honey syrup, ice cubes, and chilled soda water, gently layered to create a refreshing, aromatic, cooling mocktail experience.
                            </p>

                            <div class="price" data-price="374">₹374</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Blue Martini</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-8"></i>
                                
                            </div>

                            <p class="food_para">Blue curaçao is shaken with lemon juice, clear soda or vodka, and ice, then strained into a chilled glass, creating a smooth, vibrant, refreshing cocktail-style drink.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mint Lime Cooler</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-9"></i>
                                
                            </div>

                            <p class="food_para">Fresh mint leaves are muddled with lime juice, sugar syrup, and chilled water, then served over ice, garnished with mint sprigs and lemon for a refreshing, cooling drink.
                            </p>

                            <div class="price" data-price="289">₹289</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mango Lassi</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-10"></i>
                                
                            </div>

                            <p class="food_para">Ripe mango pulp is blended with chilled milk, sugar, and ice until smooth, then served cold, garnished with mint, creating a creamy, sunny, refreshing summer drink.
                            </p>

                            <div class="price" data-price="341">₹341</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Iced Coffee</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-11"></i>
                                
                            </div>

                            <p class="food_para">Fresh brewed coffee is cooled, poured over ice, mixed with cold milk and sugar syrup, then gently stirred to create a smooth, refreshing, energizing chilled drink.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Smoked Citrus Mocktail</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-12"></i>
                                
                            </div>

                            <p class="food_para">Fresh orange juice is mixed with lemon syrup, chilled soda, and ice, lightly infused with aromatic smoke, then garnished with citrus peel for a dramatic, refreshing, non-alcoholic drink.
                            </p>

                            <div class="price" data-price="399">₹399</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Creamy Mocha</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-13"></i>
                                
                            </div>

                            <p class="food_para">Chilled coffee is layered with sweet chocolate syrup, cold milk, and whipped cream, then lightly dusted with cocoa and coffee shavings for a rich, smooth, refreshing drink.
                            </p>

                            <div class="price" data-price="329">₹329</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Milk Sake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-14"></i>
                                
                            </div>

                            <p class="food_para">Fresh brewed coffee is cooled, poured over ice, mixed with cold milk and sugar syrup, then gently stirred to create a smooth, refreshing, energizing chilled drink.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chocolate Sake</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-15"></i>
                                
                            </div>

                            <p class="food_para">Chocolate curaçao syrup is mixed with lemon juice, chilled soda or lemonade, 
                                and ice cubes, then gently stirred to create a vibrant, cool, refreshing mocktail 
                                drink.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Cold_drink_img/Cold_drink16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Baby Drink</h4>
                                <i class="fa-regular fa-heart heart" data-id="cold_drink-16"></i>
                                
                            </div>

                            <p class="food_para">Brewed Baby Drink is cooled, then blended with soda water, ice cubes, lemon slices, and light sugar, creating a fizzy, refreshing cold drink perfect for summer sipping.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

{% endblock pizza %}