{% extends "base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block body %}

    <head>
        <link rel="stylesheet" href="static/CSS Files/contact_us.css">
    </head>

    <body>
        <div class="main_bg_img">
            <div class="main_contan">
                <div class="contact_txt">Contact Us</div>

                <p class="para_txts">Have a question, feedback, or craving support? We’re here to help! At Food Man, 
                    your satisfaction is our priority. Reach out to us anytime for order help, delivery 
                    updates, or general inquiries.
                </p>

                <div class="email cont_info">Email: support@foodman.com</div>
                <div class="number cont_info">Phone: +91 XXXXX XXXXX</div>
                <div class="location cont_info">Location: India</div>

                <div class="info">Fast food. Fast delivery. Food Man 🍕</div>
            </div>
        </div>
    </body>

{% endblock body %}