{% extends "index.html" %}

{% block title %}Dosa{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-1"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice-lentil crepe filled with spiced potato masala, cooked golden on a hot griddle, served with coconut chutney, tangy sambar, and aromatic South Indian spices.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Plain Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-2"></i>
                                
                            </div>

                            <p class="food_para">Thin, crispy dosa made from fermented rice and urad dal batter, spread on a hot tawa until golden, served with coconut chutney, spicy sambar, and fresh green chutney.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Onion Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-3"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice and urad dal dosa topped with sautéed onions, green chilies, and spices, cooked golden on a hot tawa, served with coconut chutney and warm sambar.
                            </p>

                            <div class="price" data-price="279">₹279</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paneer Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-4"></i>
                                
                            </div>

                            <p class="food_para">Golden crispy dosa filled with spiced crumbled paneer, onions, and herbs, spread from fermented rice–urad batter, cooked on a hot tawa, served with chutneys and sambar.
                            </p>

                            <div class="price" data-price="169">₹169</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Ghee Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-5"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice and urad dal dosa roasted generously with aromatic ghee on a hot tawa, creating rich flavor, served with coconut chutney, spicy sambar, and potato curry.
                            </p>

                            <div class="price" data-price="219">₹219</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paper Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-6"></i>
                                
                            </div>

                            <p class="food_para">Ultra-thin, large crispy dosa made from fermented rice and urad dal batter, spread evenly on a hot tawa, cooked till golden, served with coconut chutney, sambar, and spicy chutneys.
                            </h4>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Butter Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-7"></i>
                                
                            </div>

                            <p class="food_para">Soft yet crispy dosa prepared from fermented rice and urad dal batter, roasted with melting butter on a hot tawa, served with coconut chutney, spicy red chutney, and sambar.
                            </p>

                            <div class="price" data-price="213">₹213</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Set Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-8"></i>
                                
                            </div>

                            <p class="food_para">Soft, fluffy dosas made from fermented rice and urad dal batter, cooked gently on a hot griddle, served in a set with vegetable sagu, coconut chutney, and mild South Indian spices.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Golden Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-9"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice–urad batter dosa, cooked golden on a hot tawa, filled with spiced potato masala, onions, mustard seeds, curry leaves, served with coconut chutney and sambar.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Butter Plain Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-10"></i>
                                
                            </div>

                            <p class="food_para">Light, crispy dosa made from fermented rice and urad dal batter, spread thin on a hot tawa, cooked with butter, creating a golden texture, served with coconut chutney and sambar.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paneer Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-11"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice–urad batter dosa, cooked golden on a hot tawa, stuffed with spiced paneer, onions, capsicum, herbs, and butter, served hot with coconut chutney and sambar.
                            </p>

                            <div class="price" data-price="229">₹229</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">South Indian Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-12"></i>
                                
                            </div>

                            <p class="food_para">Golden crispy dosa made from fermented rice and urad dal batter, roasted on a hot tawa, served with soft idli, vada, coconut chutney, tomato chutney, sambar, and filter coffee.
                            </p>

                            <div class="price" data-price="289">₹289</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Classic Plain Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-13"></i>
                                
                            </div>

                            <p class="food_para">Thin, crispy dosa prepared from fermented rice and urad dal batter, spread on a hot tawa until golden, served with soft idli, vada, coconut chutney, and flavorful sambar.
                            </p>

                            <div class="price" data-price="279">₹279</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mysore Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-14"></i>
                                
                            </div>

                            <p class="food_para">Crispy fermented rice–urad batter dosa, spread with spicy red chutney, filled with buttery potato masala, cooked golden on a hot tawa, served with coconut chutney and sambar.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Stuffed Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-15"></i>
                                
                            </div>

                            <p class="food_para">Soft yet crispy dosa made from fermented rice and urad dal batter, folded with spiced potato-onion filling, cooked on a hot tawa, served with coconut chutney and tangy sambar.
                            </p>

                            <div class="price" data-price="307">₹307</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Dosa_img/Dosa16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Masala Dosa</h4>
                                <i class="fa-regular fa-heart heart" data-id="dosa-16"></i>
                                
                            </div>

                            <p class="food_para">Golden crispy dosa made from fermented rice and urad dal batter, lightly spread with butter, filled with spiced potato masala, served hot alongside coconut chutney and flavorful sambar.
                            </p>

                            <div class="price" data-price="239">₹239</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
        
{% endblock pizza %}