{% extends "index.html" %}

{% block title %}Itli{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Classic Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-1"></i>
                                
                            </div>

                            <p class="food_para">Soft steamed idlis made from fermented rice and urad dal batter, 
                                cooked until fluffy, served hot with coconut chutney and spicy sambar, a healthy 
                                traditional South Indian breakfast.
                            </p>

                            <div class="price" data-price="279">₹279</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Steamed Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-2"></i>
                                
                            </div>

                            <p class="food_para">Light, fluffy idlis prepared by steaming fermented rice and urad dal batter, 
                                gently cooked to perfection, served with fresh coconut chutney and flavorful sambar, making 
                                a wholesome South Indian meal.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Soft Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-3"></i>
                                
                            </div>

                            <p class="food_para">Pillowy soft idlis made by steaming fermented rice and urad dal batter, 
                                light and healthy, traditionally served with creamy coconut chutney and warm, aromatic
                                sambar.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mini Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-4"></i>
                                
                            </div>

                            <p class="food_para">Delicate white idlis prepared by steaming naturally fermented rice and urad dal batter, 
                                soft and airy in texture, best enjoyed with coconut chutney and tangy sambar.
                            </p>

                            <div class="price" data-price="259">₹259</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Traditional Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-5"></i>
                                
                            </div>

                            <p class="food_para">Traditional South Indian idlis made by steaming a smooth fermented 
                                batter of rice and urad dal, resulting in soft, fluffy cakes served with coconut 
                                chutney and comforting sambar.
                            </p>

                            <div class="price" data-price="203">₹203</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Fresh Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-6"></i>
                                
                            </div>

                            <p class="food_para">Freshly steamed idlis prepared from fermented rice and urad dal batter, 
                                soft and spongy in texture, lightly cooked and served with coconut chutney and hot sambar.
                            </p>

                            <div class="price" data-price="449">₹449</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">White Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-7"></i>
                                
                            </div>

                            <p class="food_para">Snow-white idlis made by steaming naturally fermented rice and urad dal batter, 
                                soft and airy, gently cooked and traditionally enjoyed with coconut chutney and spicy sambar.
                            </p>

                            <div class="price" data-price="270">₹270</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Soft Steamed Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-8"></i>
                                
                            </div>

                            <p class="food_para">Soft steamed idlis prepared from fermented rice and urad dal batter, 
                                gently cooked until fluffy, a healthy South Indian delight served with coconut chutney 
                                and aromatic sambar.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Classic Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-9"></i>
                                
                            </div>

                            <p class="food_para">Steamed rice and urad dal batter poured into molds, cooked soft and fluffy, 
                                served hot with tangy sambar, coconut chutney, curry leaves, mustard seeds, and fresh 
                                coriander.
                            </p>

                            <div class="price" data-price="399">₹399</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Rava Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-10"></i>
                                
                            </div>

                            <p class="food_para">Soft, grainy idlis made from roasted semolina, curd, mustard seeds, curry leaves, 
                                ginger, and vegetables, steamed gently and served warm with coconut chutney and spicy sambar.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Kanchipuram Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-11"></i>
                                
                            </div>

                            <p class="food_para">Traditional spiced idli made from rice, urad dal, pepper, cumin, ginger, and ghee, 
                                steamed until aromatic and firm, served with rich sambar and coconut chutney.
                            </p>

                            <div class="price" data-price="329">₹329</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Ragi Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-12"></i>
                                
                            </div>

                            <p class="food_para">Healthy steamed idlis prepared from ragi flour, curd, semolina, mustard seeds, 
                                curry leaves, and spices, lightly fermented, soft inside, and served warm with coconut chutney 
                                and sambar.
                            </p>

                            <div class="price" data-price="399">₹399</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Soft Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-13"></i>
                                
                            </div>

                            <p class="food_para">Fluffy idlis made by fermenting rice and urad dal batter, steamed gently until soft, 
                                served fresh with coconut chutney, tomato chutney, and warm, flavorful sambar.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Flafy Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-14"></i>
                                
                            </div>

                            <p class="food_para">Soft mini idlis made from fermented rice and urad dal batter, steamed to perfection, 
                                lightly garnished, and served hot with spicy sambar, coconut chutney, mustard seeds, and curry leaves.
                            </p>

                            <div class="price" data-price="269">₹269</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Steamed Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-15"></i>
                                
                            </div>

                            <p class="food_para">Pillowy idlis made by fermenting rice and urad dal batter, steamed until airy and soft, 
                                topped with curry leaves, served with coconut chutney and aromatic vegetable sambar.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Itli_img/Itli16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Stuffed Idli</h4>
                                <i class="fa-regular fa-heart heart" data-id="itli-16"></i>
                                
                            </div>

                            <p class="food_para">Soft idlis filled with spiced vegetable masala, prepared from fermented rice and urad dal 
                                batter, gently steamed, and served hot with coconut chutney and flavorful sambar.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </main>
    
{% endblock pizza %}