{% extends "base.html" %}

{% block title %}Ordered{% endblock title %}

{% block body %}

    <head>
        <link rel="stylesheet" href="static/CSS Files/ordered.css">
    </head>

    <body>

        <main>

            <div class="nothing_box">
                <p>You can't food Ordered yet.</p>
            </div>

            <div class="main_bg_img">
                <div id="result"></div>
            </div>
        </main>


        <script src="static/JS Files/ordered.js"></script>
    </body>


{% endblock body %}