{% extends "index.html" %}

{% block title %}Roll{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veggie Wrap</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-1"></i>

                                
                            </div>

                            <p class="food_para">Soft tortilla gently grilled, then filled with fresh lettuce, 
                                sautéed bell peppers, cucumber, onions, herbs, and creamy sauce, rolled warm 
                                for a flavorful, wholesome bite.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Spicy Veg Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-2"></i>

                                
                            </div>

                            <p class="food_para">Soft flatbread lightly toasted, stuffed with spiced mixed vegetables, 
                                onions, capsicum, fresh herbs, and tangy sauce, then tightly rolled to create a warm, 
                                colorful, flavorful street-style delight.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veg Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-3"></i>

                                
                            </div>

                            <p class="food_para">A thin, golden-crisp roll wrapped around flavorful veges potato
                                filling, served with warm sambar and creamy chutneys. Every bite brings a perfect
                                harmony of crisp texture, and comforting South Indian flavor.
                            </p>

                            <div class="price" data-price="279">₹279</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-4"></i>

                                
                            </div>

                            <p class="food_para">Soft flatbread wraps golden-fried chicken tossed in spicy masala, 
                                onions, capsicum, and herbs, rolled warm with mint chutney, fresh lime, and 
                                crunchy salad for a flavorful bite.
                            </p>

                            <div class="price" data-price="469">₹469</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veg Frankie Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-5"></i>

                                
                            </div>

                            <p class="food_para">Soft pan-toasted roti wraps spicy mixed vegetables, onions, 
                                capsicum, and tangy sauces, layered with fresh herbs, lightly grilled, 
                                and rolled warm for a street-style flavorful snack.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Tandoori Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-6"></i>

                                
                            </div>

                            <p class="food_para">Flaky paratha wraps smoky tandoori-spiced filling with onions, 
                                capsicum, and herbs, cooked on a hot griddle, then finished with tangy sauce 
                                for a rich, street-style delight.
                            </p>

                            <div class="price" data-price="259">₹259</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Masala Veg Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-7"></i>
                            </div>

                            <p class="food_para">Soft roti wraps spiced mixed vegetables sautéed with onions, 
                                capsicum, and herbs, layered with tangy chutney, lightly toasted, and rolled 
                                warm for a comforting, flavorful street snack.
                            </p>

                            <div class="price" data-price="204">₹204</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paneer Kathi Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-8"></i>

                                
                            </div>

                            <p class="food_para">Soft paratha wraps spicy paneer sautéed with onions, 
                                capsicum, and aromatic spices, finished with mint chutney and lemon 
                                juice, then rolled warm for a classic street-style flavor.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Crispy Spring Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-9"></i>
                            </div>

                            <p class="food_para">Thin wrappers are filled with spiced vegetables and noodles, 
                                tightly rolled, then deep-fried until golden and crunchy, served hot with 
                                sweet chili or tangy dipping sauce.
                            </p>

                            <div class="price" data-price="104">₹104</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Crispy Veg Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-10"></i>

                                
                            </div>

                            <p class="food_para">Golden-fried flatbread wraps spiced mixed vegetables, sautéed onions, 
                                cabbage, and carrots, rolled tight, then shallow-fried until crisp, served hot with 
                                tangy chili or sweet sauce.
                            </p>

                            <div class="price" data-price="149">₹149</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veg Spring Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-11"></i>

                                
                            </div>

                            <p class="food_para">Crispy golden rolls made by filling wrappers with spiced vegetables, 
                                cabbage, carrots, and onions, tightly rolled, deep-fried until crunchy, and served 
                                hot with sweet chili sauce.
                            </p>

                            <div class="price" data-price="329">₹329</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Grilled Veg Wrap</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-12"></i>

                                
                            </div>

                            <p class="food_para">Soft tortilla filled with grilled vegetables, onions, bell 
                                peppers, paneer, and mild spices, gently sautéed, rolled warm, and served 
                                fresh with lemon for a flavorful, wholesome bite.
                            </p>

                            <div class="price" data-price="113">₹113</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Kathi Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-13"></i>

                                
                            </div>

                            <p class="food_para">Soft flatbread filled with spiced mixed vegetables, paneer, 
                                onions, and capsicum, cooked on tawa, rolled warm with chutney, and served 
                                fresh for a colorful, satisfying meal.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Crispy Paneer Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-14"></i>
                            </div>

                            <p class="food_para">Golden rolls filled with spiced paneer, onions, and herbs, 
                                tightly wrapped in thin sheets, deep-fried until crunchy, and served hot 
                                with creamy dip for a rich, satisfying snack.
                            </p>

                            <div class="price" data-price="179">₹179</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Spicy Veg Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-15"></i>

                                
                            </div>

                            <p class="food_para">Soft roti layered with spicy vegetable masala, onions, 
                                capsicum, and herbs, lightly sautéed, rolled warm, and finished with 
                                tangy sauces for a bold, street-style flavor.
                            </p>

                            <div class="price" data-price="103">₹103</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Roll_img/Roll16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paneer Kathi Roll</h4>
                                <i class="fa-regular fa-heart heart" data-id="roll-16"></i>
                                
                            </div>

                            <p class="food_para">Soft paratha wrapped around spiced paneer cubes, 
                                sautéed onions, capsicum, and rich masala, cooked on tawa, rolled 
                                warm, and garnished with herbs for a smoky, flavorful bite.
                            </p>

                            <div class="price" data-price="179">₹179</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
        
{% endblock pizza %}