{% extends "index.html" %}

{% block title %}Subway{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veg Sub</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-1"></i>
                                
                            </div>

                            <p class="food_para">Freshly baked bread layered with crisp lettuce, juicy tomatoes, onions,
                                cucumbers, and cheese, lightly seasoned and finished with signature sauces, served best
                                with a chilled drink.
                            </p>

                            <div class="price" data-price="339">₹339</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Turkey Delight</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-2"></i>
                                
                            </div>

                            <p class="food_para">Soft baked bread filled with tender turkey slices, fresh lettuce, 
                                tomatoes, onions, cucumbers, cheese, and creamy sauces, carefully layered to create 
                                a flavorful, satisfying, and wholesome subway sandwich.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Rustic Fresh Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-3"></i>
                                
                            </div>

                            <p class="food_para">Crusty artisan bread packed with crisp lettuce, ripe tomatoes, onions, 
                                cucumbers, olives, and cheese, freshly assembled and lightly seasoned for a bold, 
                                crunchy, and refreshing sandwich experience.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Chicken Fresh Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-4"></i>
                                
                            </div>

                            <p class="food_para">Soft oven-baked bread layered with seasoned chicken slices, crisp 
                                lettuce, tomatoes, onions, cucumbers, and cheese, finished with flavorful sauces, 
                                freshly assembled for a hearty, delicious subway sandwich.
                            </p>

                            <div class="price" data-price="243">₹243</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Spicy Veg Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-5"></i>
                                
                            </div>

                            <p class="food_para">Toasted sesame bread filled with fresh lettuce, tomatoes, onions, 
                                capsicum, cucumbers, cheese, and zesty sauces, carefully layered to deliver a 
                                spicy, crunchy, and satisfying subway sandwich.
                            </p>

                            <div class="price" data-price="329">₹329</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Smoky Club Sub</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-6"></i>
                                
                            </div>

                            <p class="food_para">Freshly baked bread layered with smoked meat slices, cheese, 
                                crisp lettuce, tomatoes, onions, and light seasoning, carefully assembled and 
                                toasted to create a rich, hearty, and flavorful subway sandwich.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Garden Delight Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-7"></i>
                                
                            </div>

                            <p class="food_para">SFreshly baked whole-grain bread layered with crisp lettuce, 
                                juicy tomatoes, cucumber, onions, olives, tender grilled veggies, creamy 
                                sauce, and herbs, gently assembled for a wholesome, flavorful subway 
                                experience.
                            </p>

                            <div class="price" data-price="203">₹203</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veggie Fiesta</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-8"></i>
                                
                            </div>

                            <p class="food_para">Soft artisan bread filled with fresh lettuce, 
                                sliced tomatoes, onions, olives, rolled cheese, and seasoned 
                                vegetables, carefully layered and lightly toasted to create 
                                a colorful, flavorful, and satisfying subway sandwich.
                            </p>

                            <div class="price" data-price="189">₹189</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Garden Melt Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-9"></i>
                                
                            </div>

                            <p class="food_para">Fresh multigrain bread layered with crisp lettuce, 
                                juicy tomatoes, onions, olives, creamy cheese, and toasted gently, 
                                finished with flavorful sauces for a warm, fresh, and satisfying bite.
                            </p>

                            <div class="price" data-price="329">₹329</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Spicy Crunch Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-10"></i>
                            </div>

                            <p class="food_para">Soft toasted bread filled with crispy spiced filling, 
                                fresh lettuce, onions, tomatoes, melted cheese, and tangy sauces, 
                                carefully layered and lightly toasted for a bold, crunchy, 
                                flavorful subway-style sandwich.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veggie Delight Wrap</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-11"></i>
                                
                            </div>

                            <p class="food_para">Soft tortilla wrap filled with fresh lettuce, tomatoes, onions, 
                                capsicum, olives, creamy sauce, and cheese, gently rolled and served fresh for 
                                a light, flavorful, and wholesome Subway-style bite.
                            </p>

                            <div class="price" data-price="179">₹179</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Paneer Tikka Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-12"></i>
                                
                            </div>

                            <p class="food_para">Freshly baked bread layered with spicy grilled paneer tikka, 
                                crisp lettuce, onions, tomatoes, melted cheese, and rich sauces, lightly 
                                toasted to blend smoky flavors into a warm, satisfying Subway sandwich.
                            </p>

                            <div class="price" data-price="399">₹399</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Classic Veg Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-13"></i>
                                
                            </div>

                            <p class="food_para">Soft baked bread filled with fresh lettuce, tomatoes, 
                                cucumbers, onions, olives, creamy cheese, and signature sauces, 
                                carefully layered and lightly toasted to create a simple, fresh, 
                                and tasty Subway sandwich.
                            </p>

                            <div class="price" data-price="179">₹179</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Veg Slice Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-14"></i>
                                
                            </div>

                            <p class="food_para">Freshly baked bread layered with savory veg deli slices, 
                                crisp lettuce, tomatoes, cucumbers, onions, cheese, and mild sauces, 
                                assembled neatly and lightly toasted for a smooth, fresh, 
                                satisfying Subway sandwich.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Fresh Stack Subway</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-15"></i>
                                
                            </div>

                            <p class="food_para">Soft artisan bread layered with savory veg slices, crisp lettuce, 
                                tomatoes, onions, creamy cheese, and light sauces, carefully stacked and gently 
                                toasted to deliver a fresh, balanced, flavorful Subway-style sandwich.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Subway_img/Subway16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Loaded Veg Melt</h4>
                                <i class="fa-regular fa-heart heart" data-id="subway-16"></i>
                                
                            </div>

                            <p class="food_para">Freshly baked bread filled with grilled veggie patty, 
                                sautéed mushrooms, crisp lettuce, tomatoes, melted cheese, 
                                and rich sauces, assembled carefully and lightly toasted for a warm, 
                                hearty Subway-style sandwich.
                            </p>

                            <div class="price" data-price="499">₹499</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock pizza %}