{% extends "index.html" %}

{% block title %}Sweets{% endblock title %}

{% block pizza %}

    <main>
        <div class="Full_sec" id="items">
            <div class="main_bg_img">
            <div class="main_sec">
                <select class="sec">
                    <option value="">All</option>
                    <option value="">Vegge</option>
                    <option value="">Non Vegge</option>
                </select>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets1.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Gulab Jamun</h4>
                                <i class="fa-regular fa-heart heart" data-id="gulab_jamun-1"></i>

                            </div>

                            <p class="food_para">10pc Soft golden milk dumplings gently fried, soaked in warm rose-scented 
                                sugar syrup, offering rich sweetness, melt-in-mouth texture, and timeless festive Indian 
                                dessert delight.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets2.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mithai Platter</h4>
                                <i class="fa-regular fa-heart heart" data-id="thaly_sweets-1"></i>

                                
                            </div>

                            <p class="food_para">A festive assortment of traditional Indian sweets, featuring rich flavors, 
                                soft textures, dry fruits, and vibrant colors, beautifully arranged to celebrate joy and 
                                togetherness.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets3.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Jalebi</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-3"></i>

                                
                            </div>

                            <p class="food_para">Ten peace Crispy Jalebi, golden spirals deep-fried to perfection, 
                                soaked in fragrant sugar syrup, offering a crunchy bite outside and juicy sweetness 
                                inside, loved across celebrations.
                            </p>

                            <div class="price" data-price="149">₹149</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets4.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Rasgulla Bliss</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-4"></i>

                                
                            </div>

                            <p class="food_para">Soft, spongy cottage cheese balls gently cooked in light sugar syrup, 
                                bursting with sweetness, freshness, and delicate flavor, making every bite light and 
                                joyful.
                            </p>

                            <div class="price" data-price="120">₹120</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets5.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Motichoor Ladoo</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-5"></i>

                                
                            </div>

                            <p class="food_para">Tiny pearl-like gram flour boondis bound with fragrant sugar syrup, 
                                shaped into soft, rich ladoos, garnished delicately, perfect for celebrations and 
                                joyful moments.
                            </p>

                            <div class="price" data-price="219">₹219</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets6.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Gulab Jamun</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-6"></i>

                                
                            </div>

                            <p class="food_para">Soft, deep-fried milk-based dumplings soaked in aromatic sugar syrup, 
                                delivering rich sweetness, silky texture, and comforting warmth in every indulgent bite.
                            </p>

                            <div class="price" data-price="103">₹103</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets7.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Kaju Katli</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-7"></i>

                                
                            </div>

                            <p class="food_para">Smooth cashew fudge delicately sweetened, shaped into diamond slices, 
                                finished with edible silver leaf, offering rich nutty flavor and an elegant festive 
                                indulgence.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets8.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Mithai Platter</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-8"></i>

                                
                            </div>

                            <p class="food_para">A festive assortment of traditional Indian sweets, featuring rich flavors, 
                                soft textures, dry fruits, and vibrant colors, beautifully arranged to celebrate joy and 
                                togetherness.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets9.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Besan Ladoo</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-9"></i>

                                
                            </div>

                            <p class="food_para">Golden gram flour pearls roasted in ghee, blended with sugar and cardamom, 
                                shaped into soft laddoos, offering comforting aroma and rich traditional sweetness.
                            </p>

                            <div class="price" data-price="349">₹349</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets10.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Kesar Jalabe</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-10"></i>

                                
                            </div>

                            <p class="food_para">A rich, creamy saffron-infused sweet topped with crisp jalebi spirals, 
                                offering a perfect harmony of royal aroma, velvety texture, and traditional festive 
                                sweetness.
                            </p>

                            <div class="price" data-price="100">₹100</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets11.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Milk Cake</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-11"></i>

                                
                            </div>

                            <p class="food_para">A melt-in-mouth traditional sweet made with gram flour, ghee, and sugar, 
                                offering rich aroma, soft crumble, and comforting festive indulgence.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets12.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Langchaa</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-12"></i>

                                
                            </div>

                            <p class="food_para">Soft milk-based dumplings gently soaked in fragrant sugar syrup, offering a warm, 
                                juicy bite filled with traditional sweetness and comforting festive charm.
                            </p>

                            <div class="price" data-price="119">₹119</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets13.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Festive Ring</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-13"></i>

                                
                            </div>

                            <p class="food_para">A rich, nutty traditional sweet shaped beautifully, infused with aromatic spices, 
                                crunchy dry fruits, and balanced sweetness, perfect for celebrations and gifting moments.
                            </p>

                            <div class="price" data-price="199">₹199</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets14.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Nariyal Ladoo</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-14"></i>

                                
                            </div>

                            <p class="food_para">Wholesome round sweets made with roasted nuts, ghee, and natural sweetness, 
                                offering a rich aroma, soft bite, and nourishing traditional festive warmth.
                            </p>

                            <div class="price" data-price="209">₹209</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr2">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets15.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Rose Laddoos</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-15"></i>

                                
                            </div>

                            <p class="food_para">Delicate pink laddoos infused with rose essence, coated lightly in sugar crystals, 
                                offering a soft, fragrant bite filled with romantic floral sweetness.
                            </p>

                            <div class="price" data-price="249">₹249</div>
                        </div>
                    </div>
                </div>
                <div class="food_bar clr">
                    <div class="op_box">
                        <div class="main_pic"><img src="static/Sweets_img/Sweets16.jpg" class="pic">
                            <div class="add_bar">
                                <button class="sub_btn sub_add">-</button>
                                <span class="qty">
                                     <span class="num">Add</span>
                                </span>
                                <button class="add_btn sub_add">+</button>
                            </div>
                        </div>

                        <div class="pic_texts">
                            <div class="food_name"><h4 class="name">Kesar Kheer</h4>
                                <i class="fa-regular fa-heart heart" data-id="sweets-16"></i>
                                
                            </div>

                            <p class="food_para">A creamy rice pudding slow-cooked in milk, enriched with saffron, 
                                cardamom, and crunchy nuts, delivering comforting warmth and royal festive sweetness.
                            </p>

                            <div class="price" data-price="299">₹299</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    
{% endblock pizza %}